body {
    font-family: 'Poppins', sans-serif;
}

.section-one {
    background-image: url(images/donation6.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 95vh;
}

.info {
    text-align: center;
    width: 100%;
    top: 20%;
    position: absolute;
}

.info h1 {
    font-size: 70px;
    color: white;
}

.info p {
    font-size: 20px;
    color: white;
    margin-top: 10px;
    padding-top: -10px;
}

.info button {
    padding: 10px 20px;
    background-color: orangered;
    border-radius: 10px;
    color: aliceblue;
    border: none;
    font-size: 20px;
}

.donate-amn {
    text-align: center;
    margin-top: 80px;
}

.donate-amn h1 {
    color: black;
    font-size: 40px;
    font-weight: 700;
}

.donate-amn p {
    color: gray;
    font-size: larger;
}

.container-box {
    justify-content: center;
    display: flex;
    margin-top: 50px;
}

.box {
    background-color: gainsboro;
    width: 120px;
    height: 120px;
    border: 5px solid white;

}

.box h3 {
    padding-top: 30px;
}

#two {
    background-color: rgb(228, 206, 210);
    border: 2px solid red;
    border-radius: 5px;
}

.input {
    width: 47%;
    border: none;
    border-bottom: 1px solid gray;
    text-align: center;
    margin-top: 60px;
}

.donate-amn button {
    padding: 10px 20px;
    background-color: orangered;
    border-radius: 10px;
    color: aliceblue;
    border: none;
    font-size: 20px;
    margin-top: 60px;
}

.plan-head {
    text-align: center;
    margin-top: 80px;
}

.plan-head h1 {
    color: black;
    font-size: 40px;
    font-weight: 700;
}

.plan-head p {
    color: gray;
    font-size: larger;
}

.plan-card {
    display: flex;
    justify-content: center;
    margin: 50px;
}

.card {
    width: 300px;
    height: 300px;
    border: 5px solid white;
    margin-top: 50px;

    border-radius: 10px;
    margin: 10px;
    padding: 30px 5px 10px;
}

#food {
    background-color: rgb(202, 235, 248);
}

#shelter {
    background-color: papayawhip;
}

#education {
    background-color: rgb(250, 213, 200);
}